registry=https://registry.npmjs.org/
engine-strict=false
loglevel=verbose

;See PNPM config options from here: https://pnpm.js.org/en/npmrc
virtual-store-dir=.pnpm

public-hoist-pattern[]="@types/react"
public-hoist-pattern[]="@types/react-dom"
public-hoist-pattern[]="@types/enzyme"
public-hoist-pattern[]="@types/node"

hoist-pattern[]=*eslint*
hoist-pattern[]=*rxjs*
hoist-pattern[]=react-is
hoist-pattern[]=prop-types
hoist-pattern[]=pretty-format
hoist-pattern[]=@babel/types
hoist-pattern[]=@storybook/*
